@import 'src/app/shared/styles/shared';

.modal {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 1rem;
  min-width: 25rem;
  min-height: 10rem;

  @media screen and (max-width: 490px) {
    min-width: fit-content;
    min-height: fit-content;
  }

  .close_btn {
    align-self: flex-end;
    background: #00c5cb;

    &:hover {
      @include hover-element;
    }

    mat-icon {
      height: 1.8rem;
      width: 1.8rem;
      font-size: 1.8rem;
    }
  }

  .note_form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    @media screen and (max-width: 490px) {
      width: fit-content;
      height: fit-content;
    }

    mat-error {
      font-size: 0.7rem;
    }

    .form_field {
      @media screen and (max-width: 490px) {
        width: 100%;
      }
    }

    .form_field:not(:last-child) {
      padding-bottom: 1rem;
    }

    .form_color {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 490px) {
        flex-direction: column;
      }

      .options_group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 1rem;

        @media screen and (max-width: 490px) {
          align-self: center;
          grid-template-columns: repeat(2, 1fr);
          padding-left: 0;
          margin-top: 0.5rem;
        }
      }
    }

    .action_btn {
      width: 7rem;
      align-self: center;
    }
  }
}
