.pink {
  border-top: solid 0.8rem #ff7caf;
}

.blue {
  border-top: solid 0.8rem #027ce2;
}

.grape {
  border-top: solid 0.8rem #64507b;
}

.yellow {
  border-top: solid 0.8rem #ffc700;
}

.silver {
  border-top: solid 0.8rem #a6a6a6;
}

.black {
  border-top: solid 0.8rem #202225;
}
