$padding-x: 3rem;
$padding-y: 1.5rem;
$sidenav-padding: $padding-y $padding-x $padding-y 1.5rem;

$header-heignt: 6rem;
$footer-heignt: 4.7rem;
$main-heignt: calc(100vh - $header-heignt - $footer-heignt);
