@import 'src/app/shared/styles/shared';

.modal {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 1rem;
  min-width: 20rem;
  min-height: 10rem;

  @media screen and (max-width: 400px) {
    min-width: fit-content;
  }

  .close_btn {
    align-self: flex-end;
    background: $aqua;

    &:hover {
      @include hover-element;
    }

    mat-icon {
      height: 1.8rem;
      width: 1.8rem;
      font-size: 1.8rem;
    }
  }

  &_title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  &_content {
    font-size: 1rem;
    margin: 0.5rem 0;

    &-highlighted {
      font-weight: bold;
    }
  }

  .delete_btn {
    margin-top: 1rem;
    align-self: flex-start;
    min-width: 6rem;
    background-color: #fff0f0;
    color: #b80020;
  }
}
